body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-color: lightgray;
    font-size: 22px;
    text-align: center;
    opacity: 0.9;
}
/* spec - height 32 px, left padding 24 px */
header img {
    height: 32px;
    padding-left: 24px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
/* this is not working */
.flex-container bannersections {
    flexmargin: 24px 32px;
}
span.title1 {
  color: black;
  font-weight: bold;
}
span.title2 {
  color: lightgray;
}

/* spec heigh 64 px */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 64px;
    background-color: white;
    border-bottom: 1px solid seashell;
    align-items: center;
}

h3 {
  font-weight: bold;
  color: black;
  text-align: left;
  background-color: lightgray;
  padding: 10px 24px 10px 24px;
  margin: 0;
}

h4 {
    margin: 0;
    padding: 10px 24px 10px 24px;
    background-color: lightgray;
    font-weight: normal;
    text-align: left;
}
h2 {
    margin: 0;
    padding: 10px;
    background-color: white;
}

a {
    color: black;
}
#mission {
    height: 700px;
    background-image: url(../../resources/img-mission-background.jpg);
    padding-top: 70px;
}
#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}
nav {
    text-align: right;
    flex-grow: 1;
}
.item img {
    height: 200px;
    margin: 10px;
    display: block;
}
#store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}
#bannersections {
    height: 500px;
    padding-top: 70px;
}
.banner {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: gray;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#contact {
    height: 200px;
}
footer {
    text-align: left;
    padding-left: 20px;
}
