
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-color: lightgray;
    font-size: 22px;
    text-align: left;
    opacity: 0.9;
}
/* spec - height 32 px, left padding 24 px */
header img {
    height: 32px;
    padding-left: 24px;
}

span.title1 {
  color: black;
  font-weight: bold;
}
span.title2 {
  color: lightgray;
}

/* spec heigh 64 px */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 64px;
    background-color: white;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;

}
/* this is not working */
.flex-container page1sections {
    flexmargin: 24px 32px;
    space-around: 24px;
}


h1 {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  text-align: left;
  background-color: lightgray;
  padding: 10px 24px 10px 24px;
  margin: 0;
}


h3 {
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 0;
}

h4 {
    margin: 0;
    padding: 10px 24px 10px 24px;
    background-color: lightgray;
    font-weight: normal;
    text-align: left;
}
h2 {
    margin: 0;
    padding: 10px;
}

a {
    color: black;
}
nav {
    text-align: right;
    flex-grow: 1;
}
/*
.item img {
    height: 200px;
    margin: 10px;
    display: block;
}
*/


.countainerimage img {
  padding: 32px 24px 32px 24px;
}
img {
    border-style: none;
  /*  margin-top: 32px; */

}

.p1container {
    display: flex;
/*    flex-wrap: wrap; */
/*    padding: 32px 24px 32px 24px; */

/*    justify-content: left;*/
}


.p1image {
/*  flex: 60%; */
  padding: 32px 24px 32px 24px;
  background: lightgray;
  width: 100%;
  height: auto;
    }

.p1verbiage {
    flex: 40%;
    justify-content: left;
    text-align: left;
    background: lightgray;
}
.page1h1 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
}
.page1content {
    margin: 0;
    font-weight: normal;
}
.page1starthere {
    margin: 0 48px 0 0;
    font-weight: normal;
    color: white;
    background-color: black;
    text-align: center;
}
.p2container {
  display: flex;
/*  justify-content: center; */
  flex-direction: column;
  width: 100%;
  }

.p2left {
    width: 60%;
    padding: 32px 24px 32px 24px;
    background: white;
    }

.p2left img {
    height: auto;
    width: 100%;
    }


.p2right {
    width: 40%;
    padding: 32px 24px 32px 24px;
    background: green;
    }
.p2right img {
    height: auto;
    width: 35%;
    }

.p2right p {
    height: auto;
    width: 65%;
        }
/*
.page2h1 {
        margin: 0;
        font-weight: bold;
/*        font-size: 1.5em; */
/*        padding: 32px 24px 32px 24px; */

        }
/*
  .page2content {
        margin: 0;
        font-weight: normal;
        }
*/
.page3sections {
    padding: 0 40px 0 72px;
/*    space-around: 24px; */
    }


.page3section {
    width: 28%;
    opacity: 1.0;
    margin: 32px 0px 0px 32px;
    background-color: white;
/*    flex-basis: 180px; */
/*    display: flex; */
/*    flex: 10%; */
    flex-direction: column;
    justify-content: center;
}

.page3section img {
  height: auto;
  width: 100%;
}

/* media query at parent level */
/*
@media only screen and (max-width: 560px)
.page3sections {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    background-color: gray;
}
*/

/*
.page3section h2 {
  text-align: center;
  padding: 32px 0 32px 0;
  margin: 0;
  text-weight: bold;
}
*/

.page3section p {
  padding: 0;
  margin: 0 0 0 16px;
}
#page3 h2 {
  font-weight: bold;
  text-align: center;
  padding: 32px 0 0 0;
}
#p3h1 {
  font-weight: bold;
  text-align: left;
  padding: 16px 0 0 16px;
  margin: 0;
}

#p3h2 {
  text-align: left;
  padding: 8px 16px 8px 16px;
  margin: 0;
}

h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#contact {
    height: 200px;
}
footer {
    text-align: left;
    padding-left: 20px;
}

@media only screen and (max-width: 560px) {
  .page1starthere {
      margin: 0 48px 0 12px;
      font-weight: normal;
      color: red;
      background-color: lightgreen;
      text-align: center;
  }
  .p1container {
    display: flex;
    flex-wrap: wrap;
  }
  .p1image {
    flex: 100%;

  }
  .page1h1 {
      margin: 20px;
      font-weight: bold;
      font-size: 1.5em;
      color: red;
    }
}
