
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-color: lightgray;
    font-size: 22px;
    text-align: left;
    opacity: 0.9;
}
/* spec - height 32 px, left padding 24 px */
header img {
    height: 32px;
    padding-left: 24px;
}

span.title1 {
  color: black;
  font-weight: bold;
}
span.title2 {
  color: lightgray;
}

/* spec heigh 64 px */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 64px;
    background-color: white;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;

}

.flex-container page1sections {
    flexmargin: 24px 32px;
    space-around: 24px;
}


h1 {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  text-align: left;
  background-color: lightgray;
  padding: 10px 24px 10px 24px;
  margin: 0;
}


h3 {
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 0;
}

h4 {
    margin: 0;
    padding: 10px 24px 10px 24px;
    background-color: lightgray;
    font-weight: normal;
    text-align: left;
}
h2 {
    margin: 0;
    padding: 10px;
}

a {
    color: black;
}
nav {
    text-align: right;
    flex-grow: 1;
}

.countainerimage img {
  padding: 32px 24px 32px 24px;
}
img {
    border-style: none;
  /*  margin-top: 32px; */

}

.p1container {
    display: flex;
    flex-wrap: wrap;
}


.p1image {
/*  flex: 60%; */
  padding: 32px 24px 32px 24px;
  background: lightgray;
  width: 60%;
  height: auto;
    }

.p1image img {
      height: auto;
      width: 100%;
    }


.p1verbiage {
    flex: 40%;
    justify-content: left;
    text-align: left;
    background: lightgray;
    padding: 0 96px 0 0;
}
.page1h1 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
}
.page1content {
    margin: 0;
    font-weight: normal;
}
.page1starthere {
    padding: 24px;
    font-weight: normal;
    color: white;
    background-color: black;
    text-align: center;
}
.p2container {
  display: flex;
/*  justify-content: center; */
  flex-direction: column;
  width: 100%;
  }

.p2left {
    width: 60%;
    padding: 32px 24px 32px 24px;
    background: white;
    }

.p2left img {
    height: auto;
    width: 100%;
    }


.p2right {
    width: 40%;
    padding: 32px 24px 32px 24px;
    background: white;
    }

.p2mobile {
        width: 100%;
        padding: 32px 24px 32px 24px;
        background: white;
        }

.p2right img {
    height: auto;
    width: 35%;
    }

.mobileimg img {
    height: auto;
    width: 100%;
        }


.p2right p {
    height: auto;
    width: 65%;
    padding: 8px;
        }

.page2h1 {
        font-weight: bold;
        font-size: 1.2em;
        }

.page2h2 {
        color: blue;
        font-size: .80em;
                }

.page2content {
        font-weight: normal;
        font-size: .80em;
        }

.lastp2box {
    background: lightgray;
            }


.page3sections {
    padding: 0 40px 0 72px;
/*    space-around: 24px; */
    }


.page3section {
    width: 28%;
    opacity: 1.0;
    margin: 32px 0px 0px 32px;
    background-color: white;
    flex-direction: column;
    justify-content: center;
}

.page3section img {
  height: auto;
  width: 100%;
  padding: 16px 0 0 16px;
}

.page3section p {
  padding: 0;
  margin: 0 0 0 16px;
}
.page3 h2 {
  font-weight: bold;
  text-align: center;
  padding: 32px 0 0 0;
}
#p3h1 {
  font-weight: bold;
  text-align: left;
  padding: 16px 0 0 16px;
  margin: 0;
}

#p3h2 {
  text-align: left;
  padding: 8px 16px 8px 16px;
  margin: 0;
}

h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#contact {
    height: 200px;
}

.page4 h2 {
  font-weight: bold;
  text-align: center;
  padding: 32px 0 0 0;
  background-color: white;
}

.p4left {
    width: 60%;
    padding: 32px 24px 32px 24px;
    background: white;
    }

.p4left video {
    height: auto;
    width: 100%;
    }


.p4right {
    width: 40%;
    padding: 32px 24px 32px 24px;
    background: white;
    }

.p4right img {
    padding: 16px;
    }
.p4topbox {
    background: lightgray;
    }
.p4bottombox {
    background: white;
    }

.page4h1 {
    font-weight: bold;
    font-size: 1.2em;
    padding: 16px 0 16px 16px;
    }

.page4content {
    font-weight: normal;
    font-size: .80em;
    padding: 0 0 0 16px;
    }

.p4mobile {
        width: 100%;
        padding: 32px 24px 32px 24px;
        background: white;
        height: 300px;
      }

footer {
    text-align: left;
    padding-left: 20px;
}

footer {
    text-align: left;
    padding-left: 16px 24px 24px 24px;
    font-size: .65em;
    background: white;

}
/* desktop rules */
@media only screen and (min-width: 561px) {
.mobilebar {
    display: none;
    }

.mobileimg img{
      display: none;
    }
.p1mobile {
      display: none;
      }
.p2mobile {
      display: none;
      }

.p3mobile {
      display: none;
      }
.p4mobile {
      display: none;
      }

.footerdesktop {
        display: none;
        }
}
/* mobile rules */
@media only screen and (max-width: 560px) {
.desktopbar {
  display: none;
  }
.p1image {
    margin: 0;
    padding: 0;
    background: lightgray;
    width: 100%;
    height: auto;
      }
.p1verbiage {
  padding:32px 16px 32px 16px;
}
.page1starthere {
    padding: 16px 0 16px 0;
    font-weight: normal;
    color: white;
    background-color: gray;
    text-align: center;
      }
.p1desktop {
      display: none;
      }

.p2desktop {
  display: none;
}
.desktopimg img{
  display: none;
}
.p3desktop {
    display: none;
    }

.p4desktop {
        display: none;
        }

.footerdesktop {
        display: none;
        }

.p3mobile {
  background-color: white
}

.p3mobile h2 {
/*  padding: 32px 0 16px 0; */
  text-align;center
  background-color: white
}
.page3sections {
      padding: 0 16px 8px 16px;
      background-color: white;
    }

.page3section {
      width: 100%;
      margin: 16px 16px 24px 16px;
      background-color: lightgray;
      flex-direction: column;
      justify-content: left;
  }


#p3h1 {
  padding: 16px 16px 24px 16px;
  background-color: lightgray;
    }
#p3h2 {
  display: none;
  }
.page3section p {
    display: none;
    }

.p4mobile {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    }
.p4mobile video {
    width: 100%;
    }

}
