body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-color: lightgray;
    font-size: 22px;
    text-align: left;
    opacity: 0.9;
}
/* spec - height 32 px, left padding 24 px */
header img {
    height: 32px;
    padding-left: 24px;
}

span.title1 {
  color: black;
  font-weight: bold;
}
span.title2 {
  color: lightgray;
}

/* spec heigh 64 px */
header {
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 64px;
    background-color: white;
    border-bottom: 1px solid seashell;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}
/* this is not working */
.flex-container page1sections {
    flexmargin: 24px 32px;
    space-around: 24px;
}


h1 {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  text-align: left;
  background-color: lightgray;
  padding: 10px 24px 10px 24px;
  margin: 0;
}


h3 {
  font-weight: bold;
  color: black;
  text-align: left;
  margin: 0;
}

h4 {
    margin: 0;
    padding: 10px 24px 10px 24px;
    background-color: lightgray;
    font-weight: normal;
    text-align: left;
}
h2 {
    margin: 0;
    padding: 10px;
}

a {
    color: black;
}
nav {
    text-align: right;
    flex-grow: 1;
}
.item img {
    height: 200px;
    margin: 10px;
    display: block;
}

.service img {
    display: block;
    margin: 24px;
    float: left;
    width: 100%;
    height: auto;
}

img {
    border-style: none;
}
#store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}
#page1sections {
    height: 500px;
    padding-top: 32px;

}

.container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background: lightgray;
  padding: 24px 32px 24px 0;

}

.containerimage {
  width: calc(60% - 24px);

    }

.containercontent {
    width: calc(40% - 24px);
    opacity: 1.0;
    padding: 10px;
    margin: 15px 24px;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.page1image {
    margin: 0;
    padding: 10px 24px 10px 24px;
    background-color: lightgray;
    font-weight: normal;
    text-align: left;
    width: calc(60% - 24px);
}

.page1content {
    margin: 0;
    background-color: lightgray;
    font-weight: normal;
    text-align: left;
    width: calc(40% - 24px);

}

#page2sections {
    background-image: url(../../resources/img-locations-background.jpg);
    height: 500px;
    padding-top: 70px;
}
.page2section {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.page2container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
@media only screen and (max-width: 560px)
.page2container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
}

.service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 8rem;
    margin: 3rem;
    text-align: center;
}

.page3section {
    opacity: 1.0;
/*    padding: 10px; */
    margin: 5px 20px;
    background-color: white;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
/* media query at parent level */
@media only screen and (max-width: 560px)
.page3sections {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    background-color: gray;
}

.page3section h2 {
  text-align: center;
  padding: 32px 0 32px 0;
  margin: 0;
}

.page3section p {
  padding: 0;
  margin: 0 0 0 16px;
}
#page3 h2 {
  font: bold;
  text-align: center;
  padding: 32px 0px 32px 0;
}
#p3h1 {
  font-weight: bold;
  text-align: left;
  padding: 16px 0 0 16px;
  margin: 0;
}

#p3h2 {
  text-align: left;
  padding: 8px 16px 8px 16px;
  margin: 0;
}

h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#contact {
    height: 200px;
}
footer {
    text-align: left;
    padding-left: 20px;
}
